* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  color: #ffffff;
}

#waybar {
  background-color: #1e1e2e;
  border-bottom: 2px solid #44475a;
}

#clock {
  padding: 0 10px;
}

#battery {
  padding: 0 10px;
}

#network {
  padding: 0 10px;
}

